<mat-toolbar color="primary">
  <span>MyCompany</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span *ngIf="auth.getSessionStatus()">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>accout_circle</mat-icon>
      Cuenta
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </span>

  <span *ngIf="!auth.getSessionStatus()">
    <button mat-button (click)="login()">
      <mat-icon>account_box</mat-icon>
      Iniciar sesión
    </button>
  </span>
</mat-toolbar>